# Python Data Types
1. `Numeric`
    - Integers(int)
        - Represents positive or negative whole numbers like 3 or -512.
    - Floats(float)
        - Represents positive or negative numbers with decimals like 2.3, -4.6, etc.
    - Complex(complex)
        - Represents numbers with a real and imaginary part like 3.14j, 4.0 + 6.3j, etc.
2. `Sequence`
    - Strings(str)
        - Represents textual data like "Hello World".
        - A sequence of characters enclosed within a pair of either single or double quotes.
    - Lists(list)
        - Ordered collection of items.
        - Represented by square brackets e.g. [1, 2, 3, 4]
    - Tuples(tuple)
        - Similar to lists but immutable(cannot be changed).
        - Represented by parentheses e.g. (1, 2, 3, 4) 
3. `Mapping`
    - Dictionaries(dict)
        - Collection of key-value pairs.
        - Unordered collection of items.
        - Represented by curly braces e.g. {1: 'a', 2: 'b', 3: 'c'}
4. `Set`
    - Sets(set)
        - A mutable, unordered collection of unique elements.
        - You can add, remove, or modify elements in a set after its creation.
        - Elements in a set are not indexed, and the order is not guaranteed.
        - Defined using curly braces {}, e.g. {1, 2, 3, 4}
    - Frozen Sets(frozenset)
        - An immutable, unordered collection of unique elements.
        - Once a frozenset is created, you cannot add, remove, or modify its elements.
        - Elements in a frozenset are not indexed, and the order is not guaranteed.
        - Defined using curly braces {}, e.g. {1, 2, 3, 4}
5. `Boolean`
    - True
    - False

6. `None`
    - Represents the absence of a value.

## Let's define each data type one by one

### **1. Numeric Data Types**

### Integers

In [2]:
# initilize the variables
a = 5
b = 10
c = 3

In [10]:
# print the values of the variables
print("a = ", a)
print("b = ", b)
print("c = ", c)

a =  5
b =  10
c =  3

In [5]:
# other method to print the values of the variables
print("a = %d, b = %d, c = %d" % (a, b, c))

a = 5, b = 10, c = 3

In [7]:
# print a tuple of the variables
a,b,c

(5, 10, 3)

In [12]:
# initialize multiple variables in a single line
a, b, c = 5, 10, 3

# priint the variables in a single print statement
print(a,b,c)

5 10 3

In [21]:
# check the type of the variables
print(type(b))

type(a) # another method to check the type of the variable

<class 'int'>

int

### Floats

In [13]:
x = 5.6
y = 9.5

print("x = ", x)
print("y = ", y)

x =  5.6
y =  9.5

### Complex

In [14]:
d = -1 - 2j
e = 1 + 2j

print("d = ", d)
print("e = ", e)

d =  (-1-2j)
e =  (1+2j)

### **2. Sequence Data Types**

### String

In [15]:
first_name = "Taqi"
last_name = 'Javed' # we can either use single or double quotes

print("first_name = ", first_name)
print("last_name = ", last_name)

first_name =  Taqi
last_name =  Javed

In [16]:
# print the type of the variables
print(type(first_name))

<class 'str'>

In [28]:
# special example
# if we want to use single quote in a string then we have to use backslash before the single quote
# otherwise it will give an error
# single_quote = 'I'm a single quote string'  # this will give an error

# right method to use single quote in a string
single_quote1 = 'I\'m a single quote string'

# other method to use single quote in a string
single_quote2 = "I'm a single quote string" # we can use double quotes to use single quote in a string

#print("single_quote = ", single_quote)
print("single_quote1 = ", single_quote1)
print("single_quote2 = ", single_quote2)

single_quote1 =  I'm a single quote string
single_quote2 =  I'm a single quote string

### String manipulation operations in python
- `Concatenation`
  - (`+`)
- `Repetition`
  - (`*`)
- `String Access and Slicing`
  - Indexing (`[]`)
  - Slicing (`[:]`)
  - Negative Indexing
- `Length`  
  - len()
- `Lowercase`
  - lower()
- `Uppercase`
  - upper()
- `Strip Whitespaces`
  - strip()
- `Replace`
  - replace()
- `Find Substring`
  - find()
- `Split`
  - split()
- `String Interpolation `
  - f-strings
- `Format Method`
  - format
- `String Checking and Validation`
  - isalpha()
  - isdigit()
  - isalnum()
- `Start/Ends with`
  - startswith()
  - endswith()
- `Join Method`
  - join()
- `String to List`
  - list()

In [38]:
# Concate two strings
first_name = "Taqi"
last_name = "Javed"
full_name = first_name + " " + last_name
print("full_name = ", full_name)

full_name =  Taqi Javed

In [39]:
# Replicate a string
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name * 3 = ", first_name * 3)

first_name =  Taqi
first_name * 3 =  TaqiTaqiTaqi

In [40]:
# Accessing the characters of a string
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name[0] = ", first_name[0]) # index starts from 0
print("first_name[1] = ", first_name[1])
print("first_name[2] = ", first_name[2])
print("first_name[3] = ", first_name[3])

first_name =  Taqi
first_name[0] =  T
first_name[1] =  a
first_name[2] =  q
first_name[3] =  i

In [41]:
# Accessing the characters of a string from the end
# Negative indexing
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name[-1] = ", first_name[-1]) # index starts from -1
print("first_name[-2] = ", first_name[-2])
print("first_name[-3] = ", first_name[-3])
print("first_name[-4] = ", first_name[-4])

first_name =  Taqi
first_name[-1] =  i
first_name[-2] =  q
first_name[-3] =  a
first_name[-4] =  T

In [51]:
# Slicing of a string
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name[0:2] = ", first_name[0:2]) # in slicing the last index is not included, here 2 is not included
print("first_name[1:3] = ", first_name[1:3])
print("first_name[2:4] = ", first_name[2:4])
print("first_name[0:4] = ", first_name[0:4])
print("first_name[0:] = ", first_name[0:]) # if we don't specify the last index then it will print till the end
print("first_name[:4] = ", first_name[:4]) # if we don't specify the first index then it will print from the start
print("first_name[:] = ", first_name[:]) # if we don't specify the first and last index then it will print the whole string

# Slicing of a string from the end
print("first_name[-4:-2] = ", first_name[-4:-2]) # in negative indexing the last index is not included, here -2 is not included
print("first_name[-4:] = ", first_name[-4:]) 
print("first_name[:-2] = ", first_name[:-2]) 
print("first_name[-2:] = ", first_name[-2:]) 

# Slicing of a string with a step
print("first_name = ", first_name)
print("first_name[0:4:1] = ", first_name[0:4:1])
print("first_name[0:4:2] = ", first_name[0:4:2])
print("first_name[0:4:3] = ", first_name[0:4:3]) 
print("first_name[0:4:4] = ", first_name[0:4:4]) 
print("first_name[0:4:5] = ", first_name[0:4:5]) 

# Slicing error
# in slicing the step cannot be zero
#print("first_name[0:4:0] = ", first_name[0:4:0]) 
# in slicing the step cannot be negative
#print("first_name[0:4:-1] = ", first_name[0:4:-1])

first_name =  Taqi
first_name[0:2] =  Ta
first_name[1:3] =  aq
first_name[2:4] =  qi
first_name[0:4] =  Taqi
first_name[0:] =  Taqi
first_name[:4] =  Taqi
first_name[:] =  Taqi
first_name[-4:-2] =  Ta
first_name[-4:] =  Taqi
first_name[:-2] =  Ta
first_name[-2:] =  qi
first_name =  Taqi
first_name[0:4:1] =  Taqi
first_name[0:4:2] =  Tq
first_name[0:4:3] =  Ti
first_name[0:4:4] =  T
first_name[0:4:5] =  T

In [52]:
# Length of a string
print("first_name = ", first_name)
print("len(first_name) = ", len(first_name))

first_name =  Taqi
len(first_name) =  4

In [53]:
# Lower case and upper case
print("first_name = ", first_name)
print("first_name.lower() = ", first_name.lower())
print("first_name.upper() = ", first_name.upper())

first_name =  Taqi
first_name.lower() =  taqi
first_name.upper() =  TAQI

In [56]:
# String Whitespace
# Whitespace is any space before or after the string
# Whitespace is any space between the string
first_name = "Taqi "
print("first_name = ", first_name)
print("first_name.rstrip() = ", first_name.rstrip()) # remove the whitespace from the right side

first_name = " Taqi"
print("first_name = ", first_name)
print("first_name.lstrip() = ", first_name.lstrip()) # remove the whitespace from the left side

first_name = " Taqi "
print("first_name = ", first_name)
print("first_name.strip() = ", first_name.strip()) # remove the whitespace from both sides

first_name =  Taqi
first_name.rstrip() =  Taqi
first_name =   Taqi
first_name.lstrip() =  Taqi
first_name =   Taqi
first_name.strip() =  Taqi

In [54]:
# Replace a string
print("first_name = ", first_name)
print("first_name.replace('T', 't') = ", first_name.replace('T', 't'))

first_name =  Taqi
first_name.replace('T', 't') =  taqi

In [57]:
# Find Substring
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name.find('q') = ", first_name.find('q')) # find the index of the character

first_name =  Taqi
first_name.find('q') =  2

In [55]:
# Split a string
print("first_name = ", first_name)
print("first_name.split('a') = ", first_name.split('a'))

first_name =  Taqi
first_name.split('a') =  ['T', 'qi']

In [60]:
# String formatting

# String formatting with %s
first_name = "Taqi"
last_name = "Javed"
print("first_name = ", first_name)
print("last_name = ", last_name)
print("My name is %s %s" % (first_name, last_name))

# String formatting with %d
age = 25
print("age = ", age)
print("My age is %d" % age)

# String formatting with %f
salary = 25000.50
print("salary = ", salary)
print("My salary is %f" % salary)

first_name =  Taqi
last_name =  Javed
My name is Taqi Javed
age =  25
My age is 25
salary =  25000.5
My salary is 25000.500000

In [63]:
# f-strings
name = "Alice"
age = 25
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is Alice and I am 25 years old.

In [68]:
# format() method
item = "apple"
quantity = 3
price = 1.99
formatted_string1 = "I bought {} {} for ${:.1f}".format(quantity, item, price)
formatted_string2 = "I bought {} {} for ${:.2f}".format(quantity, item, price)
formatted_string3 = "I bought {} {} for ${:.3f}".format(quantity, item, price)
formatted_string4 = "I bought {} {} for ${:.4f}".format(quantity, item, price)
print(formatted_string1)
print(formatted_string2)
print(formatted_string3)
print(formatted_string4)

I bought 3 apple for $2.0
I bought 3 apple for $1.99
I bought 3 apple for $1.990
I bought 3 apple for $1.9900

In [78]:
# String Checking Methods
# isalnum() method
print("first_name = ", first_name)
print("first_name.isalnum() = ", first_name.isalnum())

# isalpha() method
print("first_name = ", first_name)
print("first_name.isalpha() = ", first_name.isalpha())

# isdigit() method
print("first_name = ", first_name)
print("first_name.isdigit() = ", first_name.isdigit())

# islower() method
print("first_name = ", first_name)
print("first_name.islower() = ", first_name.islower())

# isupper() method
print("first_name = ", first_name)
print("first_name.isupper() = ", first_name.isupper())

first_name =  Taqi
first_name.isalnum() =  True
first_name =  Taqi
first_name.isalpha() =  True
first_name =  Taqi
first_name.isdigit() =  False
first_name =  Taqi
first_name.islower() =  False
first_name =  Taqi
first_name.isupper() =  False

In [70]:
# String Startswith and Endswith Methods

# startswith() method
print("first_name = ", first_name)
print("first_name.startswith('T') = ", first_name.startswith('T'))

# endswith() method
print("first_name = ", first_name)
print("first_name.endswith('i') = ", first_name.endswith('i'))

first_name =  Taqi
first_name.startswith('T') =  True
first_name =  Taqi
first_name.endswith('i') =  True

In [71]:
# String Count Method
print("first_name = ", first_name)
print("first_name.count('a') = ", first_name.count('a'))

first_name =  Taqi
first_name.count('a') =  1

In [75]:
# String Join Method
print("first_name = ", first_name)
print("first_name.join('1234') = ", first_name.join('1234'))

# String Replace Method
words = ["Python", "is", "fun"]
joined_string = " ".join(words)
print(joined_string)

first_name =  Taqi
first_name.join('1234') =  1Taqi2Taqi3Taqi4
Python is fun

In [77]:
# String Concvertion to List Methods
text = "Python"
char_list = list(text)

print(char_list)

['P', 'y', 't', 'h', 'o', 'n']

### List

In [29]:
# list of numbers/integers
numbers = [1,2,3,4,5,6,7,8,9,10] 

# list of strings/fruits
fruits = ['apple', 'banana', 'orange', 'grapes'] 

# list of mixed data types
mixed_list = [1, 2, 3, 'apple', 'banana', 'orange', 'grapes']

# print the lists
print("numbers = ", numbers)
print("fruits = ", fruits)
print("mixed_list = ", mixed_list)

numbers =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
fruits =  ['apple', 'banana', 'orange', 'grapes']
mixed_list =  [1, 2, 3, 'apple', 'banana', 'orange', 'grapes']

### List manipulation operations in python
- `Concatenation`
  - (`+`)
- `Repetition`
  - (`*`)
- `List Access and Slicing`
  - Indexing (`[]`)
  - Slicing (`[:]`)
  - Negative Indexing
- `List Modification`
  - append()
    - Adding an element to the end of the list.
  - extend()
    - Extending a list by appending elements from another iterable.
  - insert()
    - Inserting an element at a specific index.
  - remove()
    - Removing the first occurrence of a specified element.
  - pop()
    - Removing and returning an element by index (or the last element if no index is specified).
  - clear()
- `Length`  
  - len()
- `Count`
  - count()
- `Lower-Bound`
  - min()
- `Upper-Bound`
  - max()
- `Replace`
  - replace()
- `List Copy`
  - copy()
- `List Searching`
  - index()
- `List Sorting`
  - sort()
- `List Reverse`
  - reverse()
- `String Checking and Validation`
  - in
    - checking if an element is present in the list
  - all()
    - checking if all elements in the list satisfy a condition
  - any()
    - checking if at least one element in the list satisfy a condition
  - isinstance
    - checking if a variable is a list
- `List to String`
  - join()

In [1]:
# List Concatenation
numbers = [1, 2, 3]
fruits = ['apple', 'banana', 'orange']
print("numbers = ", numbers)
print("fruits = ", fruits)
print("numbers + fruits = ", numbers + fruits)

numbers =  [1, 2, 3]
fruits =  ['apple', 'banana', 'orange']
numbers + fruits =  [1, 2, 3, 'apple', 'banana', 'orange']

In [2]:
# List Replication
numbers = [1, 2, 3]
fruits = ['apple', 'banana', 'orange']
replicated_numbers = numbers * 3
replicated_fruits = fruits * 2

print("numbers = ", numbers)
print("fruits = ", fruits)
print("replicated_numbers = ", replicated_numbers)
print("replicated_fruits = ", replicated_fruits)

numbers =  [1, 2, 3]
fruits =  ['apple', 'banana', 'orange']
replicated_numbers =  [1, 2, 3, 1, 2, 3, 1, 2, 3]
replicated_fruits =  ['apple', 'banana', 'orange', 'apple', 'banana', 'orange']

In [3]:
# List Slicing
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
fruits = ['apple', 'banana', 'orange', 'grapes']
mixed_list = [1, 2, 3, 'apple', 'banana', 'orange', 'grapes']

# slicing the list
sliced_numbers = numbers[2:5]
sliced_fruits = fruits[1:3]
sliced_mixed_list = mixed_list[3:6]

print("sliced_numbers[2:5] = ", sliced_numbers)
print("sliced_fruits[1:3] = ", sliced_fruits)
print("sliced_mixed_list[3:6] = ", sliced_mixed_list)

sliced_numbers[2:5] =  [3, 4, 5]
sliced_fruits[1:3] =  ['banana', 'orange']
sliced_mixed_list[3:6] =  ['apple', 'banana', 'orange']

In [4]:
# List Negative Slicing
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
fruits = ['apple', 'banana', 'orange', 'grapes']
mixed_list = [1, 2, 3, 'apple', 'banana', 'orange', 'grapes']

# slicing the list negative
negative_sliced_numbers = numbers[-5:-2]
negative_sliced_fruits = fruits[-3:-1]
negative_sliced_mixed_list = mixed_list[-4:-1]

print("negative_sliced_numbers[-5:-2] = ", negative_sliced_numbers)
print("negative_sliced_fruits[-3:-1] = ", negative_sliced_fruits)
print("negative_sliced_mixed_list[-4:-1] = ", negative_sliced_mixed_list)

negative_sliced_numbers[-5:-2] =  [6, 7, 8]
negative_sliced_fruits[-3:-1] =  ['banana', 'orange']
negative_sliced_mixed_list[-4:-1] =  ['apple', 'banana', 'orange']

In [5]:
# List Indexing
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
fruits = ['apple', 'banana', 'orange', 'grapes']
mixed_list = [1, 2, 3, 'apple', 'banana', 'orange', 'grapes']

# indexing the list
number_1 = numbers[0]
fruit_2 = fruits[1]
mixed_item_3 = mixed_list[2]

print("number_1 = ", number_1)
print("fruit_2 = ", fruit_2)
print("mixed_item_3 = ", mixed_item_3)

number_1 =  1
fruit_2 =  banana
mixed_item_3 =  3

#### List Modification

In [6]:
# List append
list1 = [1, 2, 3]
list1.append(4)
list1.append(5)
print("list1 = ", list1)

list1 =  [1, 2, 3, 4, 5]

In [7]:
# List extend
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print("list1 = ", list1)

list1 =  [1, 2, 3, 4, 5, 6]

In [9]:
# List insert
list1 = [1, 2, 3]
list1.insert(1, 4) # insert 4 at index 1
print("list1 = ", list1)

list1 =  [1, 4, 2, 3]

In [15]:
# List remove
list1 = [1, 2, 3, 4, 5, 3]
list1.remove(3) # remove the first occurrence of 3 (3 as index 2 in this case)
print("list1 = ", list1)

list1 =  [1, 2, 4, 5, 3]

In [16]:
# List pop
list1 = [1, 2, 3, 4, 5]
list1.pop() # remove the last item (5 in this case)
print("list1 = ", list1)

list1 = [1, 2, 3, 4, 5]
list1.pop(2) # remove the item at index 2 (3 in this case)
print("list1 = ", list1)

list1 =  [1, 2, 3, 4]
list1 =  [1, 2, 4, 5]

In [28]:
# List clear
list1 = [1, 2, 3, 4, 5]
list1.clear()
print("list1 = ", list1)

list1 =  []
list1 =  []

In [17]:
# List Length
list1 = [1, 2, 3, 4, 5]
length = len(list1)
print("length = ", length)

length =  5

In [23]:
# List count
list1 = [1, 2, 3, 4, 5, 3]
count = list1.count(3) # count the number of occurrences of 3
print("count = ", count)

count =  2

In [24]:
# List Lower and Upper Bounds
list1 = [1, 2, 3, 4, 5]
lower_bound = min(list1)
upper_bound = max(list1)
print("Lower bound:", lower_bound)
print("Upper bound:", upper_bound)

Lower bound: 1
Upper bound: 5

In [29]:
# List Replace
list1 = [1, 2, 3, 4, 5]
list1[2] = 6 # replace the item at index 2 with 6
print("list1 = ", list1)

list1 =  [1, 2, 6, 4, 5]

In [30]:
# List Copy
list1 = [1, 2, 3, 4, 5]
list2 = list1.copy()
print("list2 = ", list2)

list2 =  [1, 2, 3, 4, 5]

In [33]:
# List Searching
list1 = [1, 2, 3, 4, 5]
index = list1.index(3) # find the index of 3
print("index = ", index)

index =  2

In [34]:
# List sort
list1 = [5, 3, 1, 2, 4]
list1.sort() # sort the list in ascending order
print("list1 = ", list1)

list1 = [5, 3, 1, 2, 4]
list1.sort(reverse=True) # sort the list in descending order
print("list1 = ", list1)

list1 = [5, 3, 1, 2, 4]
list1.sort(reverse=False) # sort the list in ascending order
print("list1 = ", list1)

list1 =  [1, 2, 3, 4, 5]
list1 =  [5, 4, 3, 2, 1]
list1 =  [1, 2, 3, 4, 5]

In [35]:
# List reverse
list1 = [5, 3, 1, 2, 4]
list1.reverse()  # reversing the order of elements in the list.
print("list1 = ", list1)

list1 =  [4, 2, 1, 3, 5]

In [36]:
# List Membership and Not Membership
list1 = [1, 2, 3, 4, 5]
result = 3 in list1
print("result = ", result)

list1 = [1, 2, 3, 4, 5]
result = 6 not in list1
print("result = ", result)

result =  True
result =  True

In [40]:
# List all()
my_list = [2, 4, 6, 8, 10]
all_even = all(x % 2 == 0 for x in my_list)  # check if all elements in the list are even
print("all_even = ", all_even)

my_list = [2, 4, 6, 8, 9]
all_odd = all(x % 2 == 0 for x in my_list)  # check if all elements in the list are odd
print("all_odd = ", all_odd) # all elements in the list are not odd

all_even =  True
all_odd =  False

In [41]:
# List any()
my_list = [2, 4, 6, 8, 10]
any_even = any(x % 2 == 0 for x in my_list)  # check if any element in the list is even
print("any_even = ", any_even)

my_list = [2, 4, 6, 8, 9]
any_odd = any(x % 2 == 0 for x in my_list)  # check if any element in the list is odd
print("any_odd = ", any_odd)

any_even =  True
any_odd =  True

In [43]:
# Check if all elements in the list are equal
list1 = [5, 3, 1, 2, 4]
are_equal = all(x == list1[0] for x in list1)  # check if all elements in the list are equal to the first element
print("are_equal =", are_equal)

are_equal = False

In [44]:
# Check if any element in the list is equal
my_list = [5, 3, 1, 2, 4]
is_equal = any(x == my_list[0] for x in my_list)  # check if any element in the list is equal to the first element
print("is_equal =", is_equal)

is_equal = True

In [45]:
# Check Empty List
my_list = []
is_empty = not my_list  # check if the list is empty or not (True if empty, False if not empty)
print("is_empty =", is_empty)

is_empty = True

In [48]:
# List isinstance
my_list = [1, 2, 3, 4, 5]
is_list = isinstance(my_list, list)  # check if the object is a list (True if list, False if not list)
print("is_list =", is_list)

is_list = True

In [51]:
# List to String Conversion
my_list = [1, 2, 3, 4, 5]
my_string = ''.join(str(x) for x in my_list)
print("my_string =", my_string)

# List to String Conversion
my_list = ['apple', 'orange', 'banana']
separator = ', '

result_string = separator.join(my_list)
print("result_string =", result_string)

my_string = 12345
result_string = apple, orange, banana

### Tuple

In [30]:
# tuple of numbers
coordinates = (1, 2, 3) 

# tuple of strings
colors = ('red', 'green', 'blue')

# tuple of mixed data types
mixed_tuple = (1, 2, 3, 'red', 'green', 'blue')

# print the tuples
print("coordinates = ", coordinates)
print("colors = ", colors)
print("mixed_tuple = ", mixed_tuple)

coordinates =  (1, 2, 3)
colors =  ('red', 'green', 'blue')
mixed_tuple =  (1, 2, 3, 'red', 'green', 'blue')

### Tuple manipulation operations in python
- `Concatenation`
  - (`+`)
- `Repetition`
  - (`*`)
- `Tuple Access and Slicing`
  - Indexing (`[]`)
  - Slicing (`[:]`)
  - Negative Indexing
- `Length`  
  - len()
- `Count`
  - count()
- `Lower-Bound`
  - min()
- `Upper-Bound`
  - max()
- `Unpaking Tuple`
  - replace()
- `Tuple Copy`
  - copy()
- `Tuple Searching`
  - index()
- `Tuple Sorting`
  - sort()
- `Tuple Reverse`
  - reverse()
- `Tuple Checking and Validation`
  - in
    - checking if an element is present in the Tuple
  - all()
    - checking if all elements in the Tuple satisfy a condition
  - any()
    - checking if at least one element in the Tuple satisfy a condition
  - isinstance
    - checking if a variable is a Tuple
- `Converting Other Sequences to Tuple`
  - Convert List to Tuple
  - Convert String to Tuple
  - Convert Dictionary to Tuple

In [52]:
# Tuple Concatenation
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
concatenated_tuple = tuple1 + tuple2
print("concatenated_tuple =", concatenated_tuple)

concatenated_tuple = (1, 2, 3, 'a', 'b', 'c')

In [53]:
# Tuple Repetition
tuple1 = (1, 2, 3)
repeated_tuple = tuple1 * 3
print("repeated_tuple =", repeated_tuple)

repeated_tuple = (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [55]:
# Tuple Slicing
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]
print("sliced_tuple =", sliced_tuple)

# Negative Indexing
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[-4:-1]
print("reversed_tuple =", reversed_tuple)

sliced_tuple = (2, 3, 4)
reversed_tuple = (2, 3, 4)

In [56]:
# Tuple Indexing
my_tuple = (1, 2, 3, 4, 5)
first_element = my_tuple[0]
print("first_element =", first_element)

first_element = 1

In [57]:
# Tuple  Negative Indexing
my_tuple = (1, 2, 3, 4, 5)
last_element = my_tuple[-1]
print("last_element =", last_element)

last_element = 5

In [58]:
# Tuple Length
my_tuple = (1, 2, 3, 4, 5)
length = len(my_tuple)
print("length =", length)

length = 5

In [60]:
# Tuple Count
my_tuple = (1, 2, 3, 4, 5, 2, 3)
count = my_tuple.count(2) # count the number of occurrences of 2 in the tuple
print("count =", count)

count = 2

In [61]:
# Tuple Lower and Upper Bounds
my_tuple = (1, 2, 3, 4, 5)
lower_bound = min(my_tuple)
upper_bound = max(my_tuple)
print("lower_bound =", lower_bound)
print("upper_bound =", upper_bound)

lower_bound = 1
upper_bound = 5

In [63]:
# Tuple Unpacking
my_tuple = (1, 2, 3, 4, 5)
a, b, c, d, e = my_tuple # unpack the tuple into variables a, b, c, d, and e respectively 
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)

a = 1
b = 2
c = 3
d = 4
e = 5

In [65]:
# Tuple Copy
my_tuple = (1, 2, 3, 4, 5)
new_tuple = my_tuple[:]
print("new_tuple =", new_tuple)

new_tuple = (1, 2, 3, 4, 5)

In [66]:
# Tuple Searching
my_tuple = (1, 2, 3, 4, 5)
index = my_tuple.index(3) # find the index of 3
print("index =", index)

index = 2

In [68]:
# Tuple Sorting
my_tuple = (5, 3, 1, 2, 4)
sorted_tuple = tuple(sorted(my_tuple))
print("sorted_tuple =", sorted_tuple)

# reverse sorting
reverse_sort = tuple(sorted(my_tuple, reverse=True))
print("reverse_sort =", reverse_sort)

sorted_tuple = (1, 2, 3, 4, 5)
reverse_sort = (5, 4, 3, 2, 1)

In [69]:
# Tuple Membership and Not Membership
my_tuple = (1, 2, 3, 4, 5)
is_present = 3 in my_tuple  # Result: True
print("is_present =", is_present)

is_present = True

In [72]:
# Tuple all()
my_tuple = (True, 1, 'hello', 5.0)
result_all = all(my_tuple) # function returns True if all elements in the iterable are truthy (or if the iterable is empty), and False otherwise
print("result_all :", result_all)

result_all : True

In [73]:
# Tuple any()
my_tuple = (False, 0, '', None)
result_any = any(my_tuple) # function returns True if any element in the iterable is truthy, and False otherwise
print("result_any :", result_any)

result_any : False

In [75]:
# Tuple isinstance
my_tuple = (1, 2, 3)

# Check if the entire object is a tuple
is_tuple = isinstance(my_tuple, tuple)

# Check if each element in the tuple is an integer
are_all_integers = all(isinstance(element, int) for element in my_tuple)

# Check if each element is either an integer or a float
are_all_numbers = all(isinstance(element, (int, float)) for element in my_tuple)

print("is_tuple =", is_tuple)
print("are_all_integers =", are_all_integers)
print("are_all_numbers =", are_all_numbers)

is_tuple = True
are_all_integers = True
are_all_numbers = True

In [76]:
# Converting Other Sequences to Tuples:
# Converting List to Tuple
my_list = [1, 2, 3]
my_tuple_list = tuple(my_list)  # Result: (1, 2, 3)

# Converting String to Tuple
my_string = "abc"
my_tuple_string = tuple(my_string)  # Result: ('a', 'b', 'c')

# Converting Dictionary to Tuple
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_tuple_dictionary = tuple(my_dict)  

print("my_tuple_list =", my_tuple_list)
print("my_tuple_string =", my_tuple_string)
print("my_tuple_dictionary =", my_tuple_dictionary)

my_tuple_list = (1, 2, 3)
my_tuple_string = ('a', 'b', 'c')
my_tuple_dictionary = ('a', 'b', 'c')

### **3. Mapping Data Types**

### Dictionary

In [31]:
# dictionary of numbers
numbers = {1: 'one', 2: 'two', 3: 'three'}

# dictionary of strings
fruits = {'a': 'apple', 'b': 'banana', 'o': 'orange', 'g': 'grapes'}

# dictionary of mixed data types
mixed_dict = {1: 'one', 'b': 'banana', 3: 'three', 'o': 'orange'}

# print the dictionaries
print("numbers = ", numbers)
print("fruits = ", fruits)
print("mixed_dict = ", mixed_dict)

numbers =  {1: 'one', 2: 'two', 3: 'three'}
fruits =  {'a': 'apple', 'b': 'banana', 'o': 'orange', 'g': 'grapes'}
mixed_dict =  {1: 'one', 'b': 'banana', 3: 'three', 'o': 'orange'}

In [33]:
# Nested Dictionary
# dictionary of dictionaries
nested_dict = {'numbers': {1: 'one', 2: 'two', 3: 'three'}, 'fruits': {'a': 'apple', 'b': 'banana', 'o': 'orange', 'g': 'grapes'}}
print("nested_dict = ", nested_dict)

nested_dict =  {'numbers': {1: 'one', 2: 'two', 3: 'three'}, 'fruits': {'a': 'apple', 'b': 'banana', 'o': 'orange', 'g': 'grapes'}}

### Dictionary manipulation operations in python
- `Dictionary Access`
  - Accessing the value associated with the key
- `Updating Values`
  - Modifying the value associated with a key.
- `Adding New Key-Value Pairs`
  - Adding a new key-value pair to the dictionary.
- `Removing Key-Value Pairs`
  - Removing a key-value pair from the dictionary.
- `Length`
  - len()
- `Dictionary Methods`
  - pop()
    - Removing and returning the value associated with a key.
  - keys()
    - Getting a list of all keys in the dictionary.
  - values()
    - Getting a list of all values in the dictionary.
  - items()
    - Getting a list of key-value pairs as tuples.
  - clear()
    - Removing all key-value pairs from the dictionary.
  - `Dictionary Copy`
    - copy()
- `Dictionary Comprehension`
  - Creating a new dictionary using a concise syntax.
- `Merging Dictionaries`
  - update()
- `Dictionay Checking and Validation`
  - in
    - Checking if a specific key exists in the dictionary.
  - get()
    - method to retrieve a value or a default value if the key doesn't exist.
  - isinstance
    - checking if a variable is a Dictionay

In [88]:
# Dictionay Accessing

# Create Dictionary by Literal Syntax
my_dict1 = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

# Create Dictionay by `dict()` Constructor
my_dict2 = dict(key1='value1', key2='value2', key3='value3')

print("Access my_dict1 value against key2 = ", my_dict1['key2'])
print("Access my_dict2 value against key3 = ", my_dict2['key3'])

Access my_dict1 value against key2 =  value2
Access my_dict2 value against key3 =  value3

In [83]:
# Dictionay Update
my_dict1['key1'] = 5 # change value against key1 
my_dict2['key3'] = 6 # change value against key1 

print("my_dict1 = ", my_dict1)
print("my_dict2 = ", my_dict2)

my_dict1 =  {'key1': 5, 'key2': 'value2', 'key3': 'value3'}
my_dict2 =  {'key1': 'value1', 'key2': 'value2', 'key3': 6}

In [89]:
# Removing Key Value Pairs by `del`
del my_dict1['key1'] # remove key1
print("my_dict1 = ", my_dict1)

my_dict1 =  {'key2': 'value2', 'key3': 'value3'}

In [90]:
# Removing Key Value Pairs by `pop()`
my_dict2.pop('key2') # remove key2

'value2'

In [86]:
# Dictionary Length
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
length = len(my_dict)
print("length = ", length)

length =  3

#### Dictionary Methods

In [91]:
# Dictionary Keys
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
keys = my_dict.keys()
print("keys = ", keys)

keys =  dict_keys(['key1', 'key2', 'key3'])

In [92]:
# Dictionary Values
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
values = my_dict.values()
print("values = ", values)

values =  dict_values(['value1', 'value2', 'value3'])

In [93]:
# Dictionary Items
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
items = my_dict.items()
print("items = ", items)

items =  dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [95]:
# Dictionary Clear
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
my_dict.clear()
print("my_dict = ", my_dict)

my_dict =  {}

In [94]:
# Dictionary Copy
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
copied_dict = my_dict.copy()
print("copied_dict = ", copied_dict)

copied_dict =  {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [100]:
# Dictionary Comprehension
squared_dict = {key: key**2 for key in range(1, 6)}

print("squared_dict =",squared_dict)

squared_dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [102]:
# Dictionary Merging
another_dict = {'key5': 'value5', 'key6': 'value6'}
squared_dict.update(another_dict)
print("squared_dict =", squared_dict)

squared_dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 'key5': 'value5', 'key6': 'value6'}

In [103]:
# Dictionay Key Existrnce
my_dict = {'a': 1, 'b': 2, 'c': 3}
key_to_check = 'b'
is_key_present = key_to_check in my_dict  
print("is_key_present =", is_key_present)

is_key_present = True

In [107]:
# Dictionay get()
my_dict = {'a': 1, 'b': 2, 'c': 3}
key_to_check = 'd'
key_to_check1 = 'b'
value1 = my_dict.get(key_to_check, 'Key not found') 
value2 = my_dict.get(key_to_check1, 'Key not found') 

print("value1 = ", value1)
print("value2 = ", value2)

value1 =  Key not found
value2 =  2

In [108]:
# Dictionay isinstances
my_dict = {'a': 1, 'b': 2, 'c': 3}
is_dict = isinstance(my_dict, dict)  
print("is_dict =", is_dict)

# Dictionay isinstance() for each key
my_dict = {'a': 1, 'b': 2, 'c': '3'}
all_integers = all(isinstance(value, int) for value in my_dict.values())
print("all_integers =", all_integers)

is_dict = True
all_integers = False

### **4. Sets Data Types**

### Sets

In [34]:
# Set of numbers
numbers = {1, 2, 3, 4, 5}

# Set of strings
fruits = {'apple', 'banana', 'orange', 'grapes'}

# Set of mixed data types
mixed_set = {1, 2, 3, 'red', 'green', 'blue'}

# print the sets
print("numbers = ", numbers)
print("fruits = ", fruits)
print("mixed_set = ", mixed_set)

numbers =  {1, 2, 3, 4, 5}
fruits =  {'banana', 'grapes', 'orange', 'apple'}
mixed_set =  {1, 2, 3, 'blue', 'red', 'green'}

### Sets manipulation operations in python
- `Adding`
  - add()
    - Adding a single element to the set.
- `Update`
  - update()
    - Adding multiple elements to the set.
- `Removing`
  - remove() `or` discard()
    - Removing a specific element from the set.
- `Pop Method`
  - pop()
    - Removing and returning an arbitrary element from the set.
- `Set Clear`
  - clear()
    - Removing all elements from the set.
- `Set Operations`
  - Union
    - union() `or` |
      - Combining two sets, excluding duplicates.
  - Intersection
    - intersection() `or` &
      - Finding common elements between two sets.
  - Difference
    - difference() `or` _
      - Finding elements in one set but not in the other.
  - Symmetric Difference
    - symmetric_difference() `or` ^
      - Finding elements in either set, but not both.
  - Subset
    - issubset() `or` <=
      - method checks whether one set is a subset of another.
        - A set A is considered a subset of set B if every element of A is also an element of B.
  - Superset
    - issuperset() `or` >=
      - method checks whether one set is a superset of another. 
        - A set A is considered a superset of set B if every element of B is also an element of A.
  - Disjoint
    - isdisjoint()
      - method checks whether two sets have no elements in common. 
        - If the sets are disjoint, the result is True; otherwise, it is False
- `Set Membership`
  - in
    - Checking if an element is in the set.
- `Set Length/Size`
  - len()
    - Getting the number of elements in the set.

In [110]:
# Set creation method
# Literal Syntax
my_set1 = {1, 2, 3, 4, 5}

# Using set() Constructor
my_set2 = set({1, 2, 3, 4, 5})

# From a list
my_set3 = set([1, 2, 3, 4, 5])

# From a tuple
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
my_set4 = set(my_list)

# From a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_set5 = set(my_dict)

print("my_set1 =", my_set1)
print("my_set2 =", my_set2)
print("my_set3 =", my_set3)
print("my_set4 =", my_set4)
print("my_set5 =", my_set5)

my_set1 = {1, 2, 3, 4, 5}
my_set2 = {1, 2, 3, 4, 5}
my_set3 = {1, 2, 3, 4, 5}
my_set4 = {1, 2, 3, 4, 5}
my_set5 = {'b', 'a', 'c'}

In [111]:
# Set Adding
my_set = {1, 2, 3}
my_set.add(4) # add 4 to the set
print("my_set =", my_set)

my_set = {1, 2, 3, 4}

In [112]:
# Set Updating
my_set = {1, 2, 3}
my_set.update([4, 5, 6]) # add multiple elements to the set
print("my_set =", my_set)

my_set = {1, 2, 3, 4, 5, 6}

In [113]:
# Set Removing
my_set = {1, 2, 3}
my_set.remove(2)  # remove element 2 from the set
print("my_set =", my_set)

my_set = {1, 3}

In [114]:
# Set Discard
my_set = {1, 2, 3}
my_set.discard(2)  # remove element 2 from the set
print("my_set =", my_set)

my_set = {1, 3}

In [122]:
# Set Pop
my_set = {1, 2, 3}
element = my_set.pop()  # remove and return an element from the set
print("my_set =", my_set)
print("Removed element =", element)

my_set = {2, 3}
Removed element = 1

In [123]:
# Set Clear
my_set = {1, 2, 3}
my_set.clear()  # remove all elements from the set
print("my_set =", my_set)

my_set = set()

#### Set Operations

In [124]:
# Sets Union
my_set1 = {1, 2, 3}
my_set2 = {4, 5, 6}
my_set3 = my_set1.union(my_set2) # union of my_set1 and my_set2
print("my_set3 =", my_set3)

# Sets Union using the '|' operator
my_set4 = {7, 8, 9}
my_set5 = {10, 11, 12}
my_set6 = my_set4 | my_set5 # union of my_set4 and my_set5 using the '|' operator
print("my_set6 =", my_set6)

my_set3 = {1, 2, 3, 4, 5, 6}
my_set6 = {7, 8, 9, 10, 11, 12}

In [126]:
# Sets Intersection
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
my_set3 = my_set1.intersection(my_set2)  # intersection of my_set1 and my_set2
print("my_set3 =", my_set3)

# Sets Intersection using the '&' operator
my_set4 = {5, 6, 7}
my_set5 = {6, 7, 8}
my_set6 = my_set4 & my_set5  # intersection of my_set4 and my_set5 using the '&' operator
print("my_set6 =", my_set6)

my_set3 = {2, 3}
my_set6 = {6, 7}

In [128]:
# Sets Difference
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
my_set3 = my_set1.difference(my_set2)  # difference of my_set1 and my_set2
print("my_set3 =", my_set3)

# Sets Difference using the '-' operator
my_set4 = {5, 6, 7}
my_set5 = {6, 7, 8}
my_set6 = my_set4 - my_set5  # difference of my_set4 and my_set5 using the '-' operator
print("my_set6 =", my_set6)

my_set3 = {1}
my_set6 = {5}

In [129]:
# Sets Symmetric Difference
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
my_set3 = my_set1.symmetric_difference(my_set2)  # symmetric difference of my_set1 and my_set2
print("my_set3 =", my_set3)

# Sets Symmetric Difference using the '^' operator
my_set4 = {5, 6, 7}
my_set5 = {6, 7, 8}
my_set6 = my_set4 ^ my_set5  # symmetric difference of my_set4 and my_set5 using the '^' operator
print("my_set6 =", my_set6)

my_set3 = {1, 4}
my_set6 = {8, 5}

In [130]:
# Sets Subset
my_set1 = {1, 2, 3, 4, 5}
my_set2 = {1, 2, 3}

# Using issubset() method
is_subset = my_set2.issubset(my_set1)
print("Is my_set2 a subset of my_set1?", is_subset)

# Using <= operator
is_subset = my_set2 <= my_set1
print("Is my_set2 a subset of my_set1?", is_subset)

Is my_set2 a subset of my_set1? True
Is my_set2 a subset of my_set1? True

In [131]:
# Sets Superset
my_set1 = {1, 2, 3, 4, 5}
my_set2 = {1, 2, 3}

# Using issuperset() method
is_superset = my_set1.issuperset(my_set2)
print("Is my_set1 a superset of my_set2?", is_superset)

# Using >= operator
is_superset = my_set1 >= my_set2
print("Is my_set1 a superset of my_set2?", is_superset)

Is my_set1 a superset of my_set2? True
Is my_set1 a superset of my_set2? True

In [133]:
# Sets isdisjoint()
my_set1 = {1, 2, 3}
my_set2 = {4, 5, 6}

# Using isdisjoint() method
is_disjoint = my_set1.isdisjoint(my_set2)
print("Are my_set1 and my_set2 disjoint?", is_disjoint)

Are my_set1 and my_set2 disjoint? True

In [136]:
# Set Membership and Not Membership
my_set = {1, 2, 3, 4, 5}
result = 3 in my_set
print("result = ", result)

my_set = {1, 2, 3, 4, 5}
result = 1 not in my_set
print("result = ", result)

result =  True
result =  False

In [139]:
# Set length
my_set = {1, 2, 3, 4, 5}
length = len(my_set)
print("length = ", length)

length =  5

### **5. Boolean Data Types**

### Boolean

In [140]:
# Boolean
x = True
y = False

print("x = ", x)
print("y = ", y)

x =  True
y =  False

### Sets manipulation operations in python
- `Logical Operators`
  - Logical AND
    - and
      - Returns True if both operands are True.
  - Logical OR
    - or
      - Returns True if at least one operand is True.
  - Logical NOT
    - not
      - Returns the opposite boolean value of the operand.
- `Comparison Operators`
  - Equality
    - ==
      - Checks if two values are equal.
  - Inequality
    - !=
      - Checks if two values are not equal.
  - Greater Than 
    - >
      - Checks if one value is greater than or equal to another value.
  - Less Than
    - <
      - Checks if one value is less than or equal to another value.
- `Identity Operators`
  - is and not is
    - check whether two variables reference the same object in memory.

In [141]:
# Logical Operators

# AND
x = True
y = False

print("x and y =", x and y)

# OR
x = True
y = False

print("x or y =", x or y)

# NOT
x = True
y = False

print("not x =", not x)
x = True
y = False

x and y = False
x or y = True
not x = False

In [145]:
# Comparison Operators

# Equality Operator (==)
x = 5
y = 10
print("x == y =", x == y)

# Inequality Operator (!=)
x = 5
y = 10
print("x != y =", x != y)

# Greater Than Operator (>)
x = 5
y = 10
print("x > y =", x > y)

# Less Than Operator (<)
x = 5
y = 10
print("x < y =", x < y)

# Greater Than or Equal to Operator (>=)
x = 5
y = 10
print("x >= y =", x >= y)

# Less Than or Equal to Operator (<=)
x = 5
y = 10
print("x <= y =", x <= y)

x == y = False
x != y = True
x > y = False
x < y = True
x >= y = False
x <= y = True

In [146]:
# Identity Operators
x = 5
y = 10
print("x is y =", x is y)

# Not Identity Operators
x = 5
y = 10
print("x is not y =", x is not y)

x is y = False
x is not y = True

### **6. None Data Types**

In [37]:
# none type
x = None
print("x = ", x)

x =  None