# Python Data Types
1. `Numeric`
    - Integers(int)
        - Represents positive or negative whole numbers like 3 or -512.
    - Floats(float)
        - Represents positive or negative numbers with decimals like 2.3, -4.6, etc.
    - Complex(complex)
        - Represents numbers with a real and imaginary part like 3.14j, 4.0 + 6.3j, etc.
2. `Sequence`
    - Strings(str)
        - Represents textual data like "Hello World".
        - A sequence of characters enclosed within a pair of either single or double quotes.
    - Lists(list)
        - Ordered collection of items.
        - Represented by square brackets e.g. [1, 2, 3, 4]
    - Tuples(tuple)
        - Similar to lists but immutable(cannot be changed).
        - Represented by parentheses e.g. (1, 2, 3, 4) 
3. `Mapping`
    - Dictionaries(dict)
        - Collection of key-value pairs.
        - Unordered collection of items.
        - Represented by curly braces e.g. {1: 'a', 2: 'b', 3: 'c'}
4. `Set`
    - Sets(set)
        - A mutable, unordered collection of unique elements.
        - You can add, remove, or modify elements in a set after its creation.
        - Elements in a set are not indexed, and the order is not guaranteed.
        - Defined using curly braces {}, e.g. {1, 2, 3, 4}
    - Frozen Sets(frozenset)
        - An immutable, unordered collection of unique elements.
        - Once a frozenset is created, you cannot add, remove, or modify its elements.
        - Elements in a frozenset are not indexed, and the order is not guaranteed.
        - Defined using curly braces {}, e.g. {1, 2, 3, 4}
5. `Boolean`
    - True
    - False

6. `None`
    - Represents the absence of a value.

## Let's define each data type one by one

### **1. Numeric Data Types**

### Integers

In [2]:
# initilize the variables
a = 5
b = 10
c = 3

In [10]:
# print the values of the variables
print("a = ", a)
print("b = ", b)
print("c = ", c)

a =  5
b =  10
c =  3

In [5]:
# other method to print the values of the variables
print("a = %d, b = %d, c = %d" % (a, b, c))

a = 5, b = 10, c = 3

In [7]:
# print a tuple of the variables
a,b,c

(5, 10, 3)

In [12]:
# initialize multiple variables in a single line
a, b, c = 5, 10, 3

# priint the variables in a single print statement
print(a,b,c)

5 10 3

In [21]:
# check the type of the variables
print(type(b))

type(a) # another method to check the type of the variable

<class 'int'>

int

### Floats

In [13]:
x = 5.6
y = 9.5

print("x = ", x)
print("y = ", y)

x =  5.6
y =  9.5

### Complex

In [14]:
d = -1 - 2j
e = 1 + 2j

print("d = ", d)
print("e = ", e)

d =  (-1-2j)
e =  (1+2j)

### **2. Sequence Data Types**

### String

In [15]:
first_name = "Taqi"
last_name = 'Javed' # we can either use single or double quotes

print("first_name = ", first_name)
print("last_name = ", last_name)

first_name =  Taqi
last_name =  Javed

In [16]:
# print the type of the variables
print(type(first_name))

<class 'str'>

In [28]:
# special example
# if we want to use single quote in a string then we have to use backslash before the single quote
# otherwise it will give an error
# single_quote = 'I'm a single quote string'  # this will give an error

# right method to use single quote in a string
single_quote1 = 'I\'m a single quote string'

# other method to use single quote in a string
single_quote2 = "I'm a single quote string" # we can use double quotes to use single quote in a string

#print("single_quote = ", single_quote)
print("single_quote1 = ", single_quote1)
print("single_quote2 = ", single_quote2)

single_quote1 =  I'm a single quote string
single_quote2 =  I'm a single quote string

### String manipulation operators in python
- `Concatenation`
  - (`+`)
- `Repetition`
  - (`*`)
- `String Access and Slicing`
  - Indexing (`[]`)
  - Slicing (`[:]`)
  - Negative Indexing
- `Length`  
  - len()
- `Lowercase`
  - lower()
- `Uppercase`
  - upper()
- `Strip Whitespaces`
  - strip()
- `Replace`
  - replace()
- `Find Substring`
  - find()
- `Split`
  - split()
- `String Interpolation `
  - f-strings
- `Format Method`
  - format
- `String Checking and Validation`
  - isalpha()
  - isdigit()
  - isalnum()
- `Start/Ends with`
  - startswith()
  - endswith()
- `Join Method`
  - join()
- `String to List`
  - list()

In [38]:
# Concate two strings
first_name = "Taqi"
last_name = "Javed"
full_name = first_name + " " + last_name
print("full_name = ", full_name)

full_name =  Taqi Javed

In [39]:
# Replicate a string
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name * 3 = ", first_name * 3)

first_name =  Taqi
first_name * 3 =  TaqiTaqiTaqi

In [40]:
# Accessing the characters of a string
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name[0] = ", first_name[0]) # index starts from 0
print("first_name[1] = ", first_name[1])
print("first_name[2] = ", first_name[2])
print("first_name[3] = ", first_name[3])

first_name =  Taqi
first_name[0] =  T
first_name[1] =  a
first_name[2] =  q
first_name[3] =  i

In [41]:
# Accessing the characters of a string from the end
# Negative indexing
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name[-1] = ", first_name[-1]) # index starts from -1
print("first_name[-2] = ", first_name[-2])
print("first_name[-3] = ", first_name[-3])
print("first_name[-4] = ", first_name[-4])

first_name =  Taqi
first_name[-1] =  i
first_name[-2] =  q
first_name[-3] =  a
first_name[-4] =  T

In [51]:
# Slicing of a string
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name[0:2] = ", first_name[0:2]) # in slicing the last index is not included, here 2 is not included
print("first_name[1:3] = ", first_name[1:3])
print("first_name[2:4] = ", first_name[2:4])
print("first_name[0:4] = ", first_name[0:4])
print("first_name[0:] = ", first_name[0:]) # if we don't specify the last index then it will print till the end
print("first_name[:4] = ", first_name[:4]) # if we don't specify the first index then it will print from the start
print("first_name[:] = ", first_name[:]) # if we don't specify the first and last index then it will print the whole string

# Slicing of a string from the end
print("first_name[-4:-2] = ", first_name[-4:-2]) # in negative indexing the last index is not included, here -2 is not included
print("first_name[-4:] = ", first_name[-4:]) 
print("first_name[:-2] = ", first_name[:-2]) 
print("first_name[-2:] = ", first_name[-2:]) 

# Slicing of a string with a step
print("first_name = ", first_name)
print("first_name[0:4:1] = ", first_name[0:4:1])
print("first_name[0:4:2] = ", first_name[0:4:2])
print("first_name[0:4:3] = ", first_name[0:4:3]) 
print("first_name[0:4:4] = ", first_name[0:4:4]) 
print("first_name[0:4:5] = ", first_name[0:4:5]) 

# Slicing error
# in slicing the step cannot be zero
#print("first_name[0:4:0] = ", first_name[0:4:0]) 
# in slicing the step cannot be negative
#print("first_name[0:4:-1] = ", first_name[0:4:-1])

first_name =  Taqi
first_name[0:2] =  Ta
first_name[1:3] =  aq
first_name[2:4] =  qi
first_name[0:4] =  Taqi
first_name[0:] =  Taqi
first_name[:4] =  Taqi
first_name[:] =  Taqi
first_name[-4:-2] =  Ta
first_name[-4:] =  Taqi
first_name[:-2] =  Ta
first_name[-2:] =  qi
first_name =  Taqi
first_name[0:4:1] =  Taqi
first_name[0:4:2] =  Tq
first_name[0:4:3] =  Ti
first_name[0:4:4] =  T
first_name[0:4:5] =  T

In [52]:
# Length of a string
print("first_name = ", first_name)
print("len(first_name) = ", len(first_name))

first_name =  Taqi
len(first_name) =  4

In [53]:
# Lower case and upper case
print("first_name = ", first_name)
print("first_name.lower() = ", first_name.lower())
print("first_name.upper() = ", first_name.upper())

first_name =  Taqi
first_name.lower() =  taqi
first_name.upper() =  TAQI

In [56]:
# String Whitespace
# Whitespace is any space before or after the string
# Whitespace is any space between the string
first_name = "Taqi "
print("first_name = ", first_name)
print("first_name.rstrip() = ", first_name.rstrip()) # remove the whitespace from the right side

first_name = " Taqi"
print("first_name = ", first_name)
print("first_name.lstrip() = ", first_name.lstrip()) # remove the whitespace from the left side

first_name = " Taqi "
print("first_name = ", first_name)
print("first_name.strip() = ", first_name.strip()) # remove the whitespace from both sides

first_name =  Taqi
first_name.rstrip() =  Taqi
first_name =   Taqi
first_name.lstrip() =  Taqi
first_name =   Taqi
first_name.strip() =  Taqi

In [54]:
# Replace a string
print("first_name = ", first_name)
print("first_name.replace('T', 't') = ", first_name.replace('T', 't'))

first_name =  Taqi
first_name.replace('T', 't') =  taqi

In [57]:
# Find Substring
first_name = "Taqi"
print("first_name = ", first_name)
print("first_name.find('q') = ", first_name.find('q')) # find the index of the character

first_name =  Taqi
first_name.find('q') =  2

In [55]:
# Split a string
print("first_name = ", first_name)
print("first_name.split('a') = ", first_name.split('a'))

first_name =  Taqi
first_name.split('a') =  ['T', 'qi']

In [60]:
# String formatting

# String formatting with %s
first_name = "Taqi"
last_name = "Javed"
print("first_name = ", first_name)
print("last_name = ", last_name)
print("My name is %s %s" % (first_name, last_name))

# String formatting with %d
age = 25
print("age = ", age)
print("My age is %d" % age)

# String formatting with %f
salary = 25000.50
print("salary = ", salary)
print("My salary is %f" % salary)

first_name =  Taqi
last_name =  Javed
My name is Taqi Javed
age =  25
My age is 25
salary =  25000.5
My salary is 25000.500000

In [63]:
# f-strings
name = "Alice"
age = 25
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is Alice and I am 25 years old.

In [68]:
# format() method
item = "apple"
quantity = 3
price = 1.99
formatted_string1 = "I bought {} {} for ${:.1f}".format(quantity, item, price)
formatted_string2 = "I bought {} {} for ${:.2f}".format(quantity, item, price)
formatted_string3 = "I bought {} {} for ${:.3f}".format(quantity, item, price)
formatted_string4 = "I bought {} {} for ${:.4f}".format(quantity, item, price)
print(formatted_string1)
print(formatted_string2)
print(formatted_string3)
print(formatted_string4)

I bought 3 apple for $2.0
I bought 3 apple for $1.99
I bought 3 apple for $1.990
I bought 3 apple for $1.9900

In [69]:
# String Checking Methods
# isalnum() method
print("first_name = ", first_name)
print("first_name.isalnum() = ", first_name.isalnum())

# isalpha() method
print("first_name = ", first_name)
print("first_name.isalpha() = ", first_name.isalpha())

# isdigit() method
print("first_name = ", first_name)
print("first_name.isdigit() = ", first_name.isdigit())

# islower() method
print("first_name = ", first_name)
print("first_name.islower() = ", first_name.islower())

# isupper() method
print("first_name = ", first_name)
print("first_name.isupper() = ", first_name.isupper())

# isspace() method
print("first_name = ", first_name)
print("first_name.isspace() = ", first_name.isspace())

first_name =  Taqi
first_name.isalnum() =  True
first_name =  Taqi
first_name.isalpha() =  True
first_name =  Taqi
first_name.isdigit() =  False
first_name =  Taqi
first_name.islower() =  False
first_name =  Taqi
first_name.isupper() =  False
first_name =  Taqi
first_name.isspace() =  False

In [70]:
# String Startswith and Endswith Methods

# startswith() method
print("first_name = ", first_name)
print("first_name.startswith('T') = ", first_name.startswith('T'))

# endswith() method
print("first_name = ", first_name)
print("first_name.endswith('i') = ", first_name.endswith('i'))

first_name =  Taqi
first_name.startswith('T') =  True
first_name =  Taqi
first_name.endswith('i') =  True

In [71]:
# String Count Method
print("first_name = ", first_name)
print("first_name.count('a') = ", first_name.count('a'))

first_name =  Taqi
first_name.count('a') =  1

In [75]:
# String Join Method
print("first_name = ", first_name)
print("first_name.join('1234') = ", first_name.join('1234'))

# String Replace Method
words = ["Python", "is", "fun"]
joined_string = " ".join(words)
print(joined_string)

first_name =  Taqi
first_name.join('1234') =  1Taqi2Taqi3Taqi4
Python is fun

In [77]:
# String Concvertion to List Methods
text = "Python"
char_list = list(text)

print(char_list)

['P', 'y', 't', 'h', 'o', 'n']

### List

In [29]:
# list of numbers/integers
numbers = [1,2,3,4,5,6,7,8,9,10] 

# list of strings/fruits
fruits = ['apple', 'banana', 'orange', 'grapes'] 

# list of mixed data types
mixed_list = [1, 2, 3, 'apple', 'banana', 'orange', 'grapes']

# print the lists
print("numbers = ", numbers)
print("fruits = ", fruits)
print("mixed_list = ", mixed_list)

numbers =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
fruits =  ['apple', 'banana', 'orange', 'grapes']
mixed_list =  [1, 2, 3, 'apple', 'banana', 'orange', 'grapes']

### Tuple

In [30]:
# tuple of numbers
coordinates = (1, 2, 3) 

# tuple of strings
colors = ('red', 'green', 'blue')

# tuple of mixed data types
mixed_tuple = (1, 2, 3, 'red', 'green', 'blue')

# print the tuples
print("coordinates = ", coordinates)
print("colors = ", colors)
print("mixed_tuple = ", mixed_tuple)

coordinates =  (1, 2, 3)
colors =  ('red', 'green', 'blue')
mixed_tuple =  (1, 2, 3, 'red', 'green', 'blue')

### **3. Mapping Data Types**

### Dictionary

In [31]:
# dictionary of numbers
numbers = {1: 'one', 2: 'two', 3: 'three'}

# dictionary of strings
fruits = {'a': 'apple', 'b': 'banana', 'o': 'orange', 'g': 'grapes'}

# dictionary of mixed data types
mixed_dict = {1: 'one', 'b': 'banana', 3: 'three', 'o': 'orange'}

# print the dictionaries
print("numbers = ", numbers)
print("fruits = ", fruits)
print("mixed_dict = ", mixed_dict)

numbers =  {1: 'one', 2: 'two', 3: 'three'}
fruits =  {'a': 'apple', 'b': 'banana', 'o': 'orange', 'g': 'grapes'}
mixed_dict =  {1: 'one', 'b': 'banana', 3: 'three', 'o': 'orange'}

In [33]:
# Nested Dictionary
# dictionary of dictionaries
nested_dict = {'numbers': {1: 'one', 2: 'two', 3: 'three'}, 'fruits': {'a': 'apple', 'b': 'banana', 'o': 'orange', 'g': 'grapes'}}
print("nested_dict = ", nested_dict)

nested_dict =  {'numbers': {1: 'one', 2: 'two', 3: 'three'}, 'fruits': {'a': 'apple', 'b': 'banana', 'o': 'orange', 'g': 'grapes'}}

### **4. Sets Data Types**

### Sets

In [34]:
# Set of numbers
numbers = {1, 2, 3, 4, 5}

# Set of strings
fruits = {'apple', 'banana', 'orange', 'grapes'}

# Set of mixed data types
mixed_set = {1, 2, 3, 'red', 'green', 'blue'}

# print the sets
print("numbers = ", numbers)
print("fruits = ", fruits)
print("mixed_set = ", mixed_set)

numbers =  {1, 2, 3, 4, 5}
fruits =  {'banana', 'grapes', 'orange', 'apple'}
mixed_set =  {1, 2, 3, 'blue', 'red', 'green'}

### **5. Boolean Data Types**

### Boolean

In [36]:
# Boolean
x = True
y = False

print("x = ", x)
print("y = ", y)

x =  True
y =  False

### **6. None Data Types**

In [37]:
# none type
x = None
print("x = ", x)

x =  None