## Built_in Functions

In [1]:
# 1. len(): Returns the length of an object (number of items).
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)

5

In [2]:
# 2. sum(): Returns the sum of all elements in an iterable.
numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)
print(total_sum)

15

In [3]:
# 3. max(): Returns the maximum value in an iterable.
numbers = [1, 7, 3, 9, 5]
maximum_value = max(numbers)
print(maximum_value)

9

In [4]:
# 4. min(): Returns the minimum value in an iterable.
numbers = [1, 7, 3, 9, 5]
minimum_value = min(numbers)
print(minimum_value)

1

In [6]:
# 5. abs(): Returns the absolute value of a number.
number = -10
absolute_value = abs(number)
print(absolute_value)

10

In [7]:
# 6. sorted(): Returns a sorted list from the elements of an iterable.
numbers = [5, 2, 8, 1, 3]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 2, 3, 5, 8]

In [8]:
# 7. type(): Returns the type of an object.
my_variable = 42
variable_type = type(my_variable)
print(variable_type)

<class 'int'>

In [1]:
# 8. str(): Converts an object to a string.
number = 123
number_as_string = str(number)
print(number_as_string)
type(number_as_string)

123

str

In [10]:
# 9. list(): Converts an iterable to a list.
my_tuple = (1, 2, 3)
tuple_as_list = list(my_tuple)
print(tuple_as_list)

[1, 2, 3]

In [11]:
# 10. range(): Generates a sequence of numbers.
numbers = list(range(5))
print(numbers)

[0, 1, 2, 3, 4]

In [12]:
# 11. enumerate(): Returns an enumerate object, providing both index and value.
my_list = ['apple', 'banana', 'cherry']
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

In [13]:
# 12. any(): Returns True if at least one element in the iterable is True.
bool_values = [False, True, False]
result = any(bool_values)
print(result)

True

In [14]:
# 13. all(): Returns True if all elements in the iterable are True.
bool_values = [True, True, True]
result = all(bool_values)
print(result)

True

In [15]:
# 14. zip(): Combines multiple iterables into tuples.
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 22]
zipped_data = zip(names, ages)
print(list(zipped_data))

[('Alice', 25), ('Bob', 30), ('Charlie', 22)]

In [16]:
# 15. chr() and ord(): Converts a Unicode code point to a character and vice versa.
character = chr(65)
print(character)  

code_point = ord('B')
print(code_point)

A
66

In [3]:
# 16. round(): Rounds a number to the nearest integer.
float_number = 3.14159
rounded_number = round(float_number, 1)
print(rounded_number)

3.1

In [18]:
# 17. map(): Applies a function to all items in an input list (already covered).
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x ** 2, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [19]:
# 18. filter(): Filters elements based on a specified condition (already covered).
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(even_numbers))

[2, 4]

In [20]:
# 19. input(): Reads a line from the console.
user_input = input("Enter your name: ")
print(f"Hello, {user_input}!")

Hello, TAQI!

In [21]:
# 20. bool(): Converts a value to a boolean.
value = 42
boolean_value = bool(value)
print(boolean_value)

True

In [22]:
# 21. abs(): Returns the absolute value of a number.
number = -10
absolute_value = abs(number)
print(absolute_value)

10

In [23]:
# 22. hex() and oct(): Converts an integer to a hexadecimal or octal string.
decimal_number = 255
hexadecimal_representation = hex(decimal_number)
octal_representation = oct(decimal_number)

print(hexadecimal_representation)  
print(octal_representation)

0xff
0o377

In [24]:
# 23. slice(): Returns a slice object for slicing.
my_list = [1, 2, 3, 4, 5]
my_slice = slice(1, 4)
sliced_list = my_list[my_slice]
print(sliced_list)

[2, 3, 4]

In [25]:
# 24. format(): Formats a specified value.
name = "Alice"
age = 30
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is Alice and I am 30 years old.

In [26]:
# 25. sorted() with Custom Key Function:
words = ["apple", "Banana", "cherry", "Date"]
sorted_words = sorted(words, key=str.lower)
print(sorted_words)

['apple', 'Banana', 'cherry', 'Date']

In [27]:
# 26. reversed(): Returns a reverse iterator of a sequence.
my_list = [1, 2, 3, 4, 5]
reversed_list = list(reversed(my_list))
print(reversed_list)

[5, 4, 3, 2, 1]

In [28]:
# 28. capitalize() and title(): Capitalizes the first letter of a string.
text = "hello world"
capitalized_text = text.capitalize()
titlecased_text = text.title()

print(capitalized_text)  
print(titlecased_text)

Hello world
Hello World

In [29]:
# 29. bin(): Converts an integer to a binary string.
decimal_number = 10
binary_representation = bin(decimal_number)
print(binary_representation)

0b1010

In [30]:
# 30. any() and all() with Iterable of Strings:
words = ["apple", "banana", "cherry", ""]
any_non_empty = any(words)
all_non_empty = all(words)

print(any_non_empty)  
print(all_non_empty)

True
False

In [31]:
# 31. join(): Concatenates elements of an iterable into a string.
words = ["Hello", "World", "!"]
joined_string = " ".join(words)
print(joined_string)

Hello World !